# Python Examples Chapter 6: Portfolio Basics
#### José Vinícius de Miranda Cardoso
#### 09 March 2022

## Packages

In [1]:
import pob
import pandas_datareader as pdr

## Preliminaries

We start with basic aspects such as data loading and plotting.

## Loading Stock Market Data

Loading stock market data could be conveniently queried from Yahoo!Finance with `pandas_datareader`:

In [2]:
data = pdr.get_data_yahoo(["AMD", "MGM", "AAPL", "AMZN", "TSCO"],
                          start="2019-10-01", end="2021-12-31")

In [3]:
data["Adj Close"]

Symbols            AMD        MGM        AAPL         AMZN        TSCO
Date
2019-09-30   28.990000  27.387239   54.937817  1735.910034   87.665878
2019-10-01   28.760000  27.347721   55.089893  1735.650024   87.045517
2019-10-02   28.309999  26.784565   53.708912  1713.229980   87.791893
2019-10-03   28.680000  26.922886   54.165150  1724.420044   90.302452
2019-10-04   29.010000  26.962404   55.683498  1739.650024   90.253983
...                ...        ...         ...          ...         ...
2021-12-27  154.360001  45.209999  180.100540  3393.389893  230.479752
2021-12-28  153.149994  44.220001  179.061859  3413.219971  230.181046
2021-12-29  148.259995  44.490002  179.151749  3384.020020  235.747116
2021-12-30  145.149994  44.759998  177.973251  3372.889893  235.707291
2021-12-31  143.899994  44.880001  177.344055  3334.340088  237.579254

[570 rows x 5 columns]

However, for convenience, we will use stock and cryptocurrency data from the official portfolio optimization book package pob:

In [4]:
cryptos = pob.data.cryptos_2017to2021

In [5]:
cryptos

OrderedDict()